<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Cocha" class="img-responsive text-center" src="modules/core/img/brand/cocha-logo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Cocha - Dashboard de Mapeos de Hoteles y Destinos
			</p>
		</div>
		
	</div>
	<div>
		<h2>Elija sobre qué operar</h2>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				Revisar mapeos de hoteles
			</h2>
			<p>Confirme los mapeos de hoteles que hace el sistema automáticamente y que por alguna razón tienen bajo nivel de confianza.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Nuevo mapeo de hoteles
			</h2>
			<p>Agregue un nuevo mapeo entre hoteles de diferentes suppliers, que el sistema no reconoció cuando los procesó.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Revisar mapeos de destinos
			</h2>
			<p>Revise los mapeos entre hoteles y destinos (aeropuertos, ciudades, puntos de interés, etc).</p>
		</div>
		<div class="col-md-3">
			<h2>
				Nuevo mapeo de destinos
			</h2>
			<p>Agregue un nuevo mapeo entre un hoteles y destinos.</p>
		</div>
	</div>
	
</section>