<section data-ng-controller="TipoMaterialController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tipo materiales</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tipoMateriale in tipoMateriales" data-ng-href="#!/tipo-materiales/{{tipoMateriale._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="tipoMateriale.codigo"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="tipoMateriale.valor"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tipoMateriales.$resolved || tipoMateriales.length">
    	No Tipo materiales yet, why don't you <a href="#!/tipo-materiales/create">create one</a>?
    </div>
</section>