<section data-ng-controller="HotelMappingController">
    <div class="page-header">
		<h1>Nuevo mapeo de hoteles</h1>
	</div>
    
	<div class="panel panel-default">
        <div class="panel-heading">
            Busque por ID de los hoteles a mapear
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" 
                               placeholder="Hotel ID de EAN..." 
                               data-ng-model="referenceHotelId">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" data-ng-click="findReference()">Buscar</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Hotel ID de BKG..." data-ng-model="mapHotelId">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" data-ng-click="findToMap()">Buscar</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Hotel de Referencia</th>
                    <th>Hotel Mapeado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Supplier</td>
                    <td data-ng-bind="referenceHotel.supplierCode"></td>
                    <td data-ng-bind="mapHotel.supplierCode"></td>
                </tr>

                <tr>
                    <td>Nombre</td>
                    <td data-ng-bind="referenceHotel.name"></td>
                    <td data-ng-bind="mapHotel.name"></td>
                </tr>

                <tr>
                    <td>Dirección</td>
                    <td data-ng-bind="referenceHotel.address"></td>
                    <td data-ng-bind="mapHotel.address"></td>
                </tr>

                <tr>
                    <td>Latitud</td>
                    <td data-ng-bind="referenceHotel.latitude"></td>
                    <td data-ng-bind="mapHotel.latitude"></td>
                </tr>
                <tr>
                    <td>Longitud</td>
                    <td data-ng-bind="referenceHotel.longitude"></td>
                    <td data-ng-bind="mapHotel.longitude"></td>
                </tr>

                <tr>
                    <td>Rating</td>
                    <td data-ng-bind="referenceHotel.starRating"></td>
                    <td data-ng-bind="mapHotel.starRating"></td>
                </tr>

                <tr>
                    <td>Código Postal</td>
                    <td data-ng-bind="referenceHotel.zipCode"></td>
                    <td data-ng-bind="mapHotel.zipCode"></td>
                </tr>
            </tbody>
        </table>
	</div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-8 col-xs-12">
<!--            <div class="btn-toolbar" role="toolbar" aria-label="opciones para confirmar o separar">-->
                <div class="btn-group" role="group" aria-label="confirmar o separar">
                    <button type="button" class="btn btn-success"
                            data-ng-click="create()">Mapear</button>
<!--
                    <button type="button" class="btn btn-danger"
                            data-ng-click="reject(mappingReview.mapping)">Rechazar</button>
-->
                </div>
                
                <div class="btn-group pull-right" role="group" aria-label="volver">
                    <button type="button" class="btn btn-default"
                            data-ng-click="goHome()">Volver</button>
                </div>
<!--            </div>-->
        </div>
    </div>
</section>
