<section data-ng-controller="MappingReviewController" data-ng-init="findReview()">
	<div class="page-header">
		<h1>Revisar mapeo de hotel (ID: {{mappingReview.mapping.hotelId}})</h1>
	</div>
	<div class="panel panel-info">
        <div class="panel-heading">
            Nivel de confianza: {{mappingReview.mapping.confidence}}% | Está activo: {{mappingReview.mapping.active}}
        </div>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Hotel de Referencia</th>
                    <th>Hotel Mapeado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Supplier</td>
                    <td data-ng-bind="mappingReview.reference.supplierCode"></td>
                    <td data-ng-bind="mappingReview.mapped.supplierCode"></td>
                </tr>

                <tr>
                    <td>Nombre</td>
                    <td data-ng-bind="mappingReview.reference.name"></td>
                    <td data-ng-bind="mappingReview.mapped.name"></td>
                </tr>

                <tr>
                    <td>Dirección</td>
                    <td data-ng-bind="mappingReview.reference.address"></td>
                    <td data-ng-bind="mappingReview.mapped.address"></td>
                </tr>

                <tr>
                    <td>Latitud</td>
                    <td data-ng-bind="mappingReview.reference.latitude"></td>
                    <td data-ng-bind="mappingReview.mapped.latitude"></td>
                </tr>
                <tr>
                    <td>Longitud</td>
                    <td data-ng-bind="mappingReview.reference.longitude"></td>
                    <td data-ng-bind="mappingReview.mapped.longitude"></td>
                </tr>

                <tr>
                    <td>Rating</td>
                    <td data-ng-bind="mappingReview.reference.starRating"></td>
                    <td data-ng-bind="mappingReview.mapped.starRating"></td>
                </tr>

                <tr>
                    <td>Código Postal</td>
                    <td data-ng-bind="mappingReview.reference.zipCode"></td>
                    <td data-ng-bind="mappingReview.mapped.zipCode"></td>
                </tr>
            </tbody>
        </table>
	</div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-8 col-xs-12">
            <div class="btn-toolbar" role="toolbar" aria-label="opciones para confirmar o separar">
                <div class="btn-group" role="group" aria-label="confirmar o separar">
                    <button type="button" class="btn btn-success"
                            data-ng-click="confirm(mappingReview.mapping)">Confirmar</button>
                    <button type="button" class="btn btn-danger"
                            data-ng-click="reject(mappingReview.mapping)">Rechazar</button>
                </div>
                
                <div class="btn-group pull-right" role="group" aria-label="volver">
                    <button type="button" class="btn btn-default"
                            data-ng-click="goToListByCountry(mappingReview.mapping.countryCode)">Volver</button>
                </div>
            </div>
        </div>
    </div>
</section>
