<div ng-controller="serviceController" layout="column">
	<form novalidate id="fromAvailability" name="formRegistro">
		 	<md-content layout-padding layout="row" layout-sm="column">
				<div layout layout-sm="column">
					<md-input-container flex>
						<label>Region</label>
						<input ng-model="hotel.ids">
					</md-input-container>
				</div>
				<div layout layout-sm="column">
					<md-datepicker ng-model="hotel.arrivalDate" md-placeholder="Check In"></md-datepicker>
				</div>
				<div layout layout-sm="column">
					<md-datepicker ng-model="hotel.departureDate" md-placeholder="Check Out"></md-datepicker>
				</div>
				<div layout layout-sm="column" style="margin-left: 15px;">
					<md-input-container flex>
						<label>Currency Code</label>
						<input ng-model="hotel.currencyCode">
					</md-input-container>
				</div>
				</md-content>
				<md-progress-circular md-mode="indeterminate" ng-show="isLoadingToken"></md-progress-circular>
				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					<md-button class="md-raised" ng-click="search(hotel)">Search</md-button>
				</section>

				<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
					<md-subheader class="md-no-sticky">{{error}}</md-subheader>
				</section>
			</md-content>
	</form>

	<md-divider ></md-divider>
		<md-subheader class="md-no-sticky">Result {{hotel.numeroResultado}}</md-subheader>
		<md-progress-circular md-mode="indeterminate" ng-show="isLoadingSearch"></md-progress-circular>
		<md-list>
			<md-list-item ng-repeat="hotel in hotels.HotelSummary">
					<div class="md-list-item-text" layout="column">
					<h3>{{hotel.name}}</h3>
					Dirección: {{hotel.address1}}</br>
					País: {{hotel.countryCode}}</br>
					Mayor precio total: {{hotel.rateInfo.hightRateBetweenSupplier}}</br>
					Menor precio total: {{hotel.rateInfo.lowRateBetweenSupplier}}</br>
					<md-list>
						<md-list-item ng-repeat="rate in hotel.rateInfo.rateForSupplier">
								<div class="md-list-item-text" layout="column">
									<div ng-show='rate.status.code == 200'>
										<b>Proovedor: {{rate.availability.rateInfoForSupplier.codeSupplier}}</b></br>
										Codigo Moneda: {{rate.availability.rateInfoForSupplier.rateCurrencyCode}}</br>
										Mayor Precio: {{rate.availability.rateInfoForSupplier.higtRate}}</br>
										Menor Precio: {{rate.availability.rateInfoForSupplier.lowRate}}</br>
										Precio promedio por Noche: {{rate.availability.rateInfoForSupplier.averageBaseRate}}</br>
									</div>
									<div ng-show='rate.rateForSupplier.status.code == 500'>
										<b>Proovedor: {{rate.availability.codeSupplier}}</b></br>
										{{rate.status.cause}}
									</div>
									<div ng-show='rate.rateForSupplier.status.code == 999'>
										<b>Proovedor: {{rate.availability.codeSupplier}}</b></br>
										{{rate.status.cause}}
									</div>
								</div>
						</md-list-item>
					</md-list>
				</div>
			</md-list-item>
		</md-list>
